body {
    background-color: white;
    font: size 36px;;
    height: 100vh;
  margin: 0;
  padding: 0;
}

div.row{
      display:flex;
      flex-wrap:wrap;
}

div.colwhite{
    outline: 2px solid cyan;
    width: 20%;
}

div.colsilver{
    outline: 2px solid cyan;
    background-image: url("silver.jpg");
    background-size: cover;
    background-position: center;
   width: 40%;
   height: auto;
   padding-top: 20%;
   padding-bottom: 20%;
   padding-left: 10%;
   padding-right: 10%;
   margin-top: 10%;
   margin-bottom: 10%;
   margin-left: 5%;
   margin-right: 10%;
}

div.textboxone{
    position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0); /* Adjust the opacity and color as needed */
  color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.overlay h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  div.overlay p {
    font-size: 18px;
  }

div.colwhite2{
    outline: 2px solid cyan;
    width: 20%;
    margin-left: 0%;
    margin-right: 0%;
}

 


  
  
  
  
  
  